* {
    font-family: 'Roboto', sans-serif;
    color: #9f6b53;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
}

#widget {
    font-size: xx-large;
    padding: 5px;
    text-align: center;
    line-height: 1.5;
    height: 85%;
    border: 5px solid #9f6b53;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

#today{
    font-size: large;
}